<ion-view view-title="Tasks Manager">
<ion-content ng-class="expanded" class="animate-fade-slide-in">
<div style="background-color: #37474F; background-size: cover;">
    <form ng-submit="add()">
        <div class="list">
            <ion-md-input placeholder="Task" highlight-color="balanced" type="text" ng-model="data.title"></ion-md-input>
            <ion-md-input placeholder="Date (yyyy-mm-dd hh:mm:ss)" highlight-color="energized" type="text" ng-model="data.date"></ion-md-input>
        </div>
        <div class="padding">
            <button ng-click="add(data)" class="button button-full button-energized">Send</button>
        </div>
    </form>
</div>


<div class="item card-item" ng-repeat="task in tasks">
    <a ng-click="update({{task}})">
    <div class="card stable-bg ink ink-dark">
        <div class="item item-avatar item-text-wrap">
            <span class="avatar" style="background-image: url('img/{{task.img}}');"></span>
            <strong>Author</strong> {{task.title}}
            <div class="card-footer text-right">
                <i class="icon ion-checkmark-circled {{task.class}}"></i> Update
                <div class="pull-left">
                    <i class="icon ion-clock"></i> {{task.date}}
                </div>
            </div>
        </div>
    </div>
</a>
</div>

</ion-content>
</ion-view>
